CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
cmake-build-debug
cmake-build-debug-xtensa-esp32-elf

build
sdkconfig.old
.idea/
.vscode/
managed_components/
battery_CAN_Show_v2/EWARM/battery_can_show
battery_CAN_Show_v2/Debug
battery_monitor_v3/EWARM/battery_monitor_v2
battery_monitor_v3/Debug
QT_Gui_Battery_Show/build-QT_Battery_Serial-Desktop_Qt_6_6_0_MinGW_64_bit-Debug
QT_Gui_Battery_Show/build-QT_Battery_Serial-Desktop_Qt_6_6_0_MinGW_64_bit-Release
QT_Gui_Battery_Show/build-QT_Serial-Desktop_Qt_6_6_0_MinGW_64_bit-Debug